@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --FF: 'League Spartan', sans-serif;
    --FS: 15px;
    --TESTIMONYCONTAINERCOLOR: hsl(300, 43%, 22%);
    --TESTIMONYBUYERCOLOR: hsl(333, 80%, 67%);
    --DARKGRAYISHMAGENTACOLOR: hsl(303, 10%, 53%);
    --LIGHTGRAYISHMAGENTACOLOR: hsl(300, 24%, 96%);
    --WHITECOLOR: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--FS);
    font-family: var(--FF);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
}

.main__container {
    margin-inline: 20px;
    max-width: 335px;
}

.header__container {
   text-align: center;
   padding-block: 20px;
}

.header__title {
    color: var(--TESTIMONYCONTAINERCOLOR);
    font-size: 2.5em;
    font-weight: bolder;
    padding-bottom: 30px;
}

.header__paragraph {
    color: var(--DARKGRAYISHMAGENTACOLOR);
    line-height: 1.5em;
    font-size: 1.2em;
}

.reviews__container--main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
}

.reviews__container--sub {
    font-size: 1.2em;
    background-color: var(--LIGHTGRAYISHMAGENTACOLOR);
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: var(--TESTIMONYCONTAINERCOLOR);
    font-weight: bold;
}

.testimonies__container--main {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.testimony__container {
    background-color: var(--TESTIMONYCONTAINERCOLOR);
    color: var(--LIGHTGRAYISHMAGENTACOLOR);
    border-radius: 10px;
    padding: 30px;
    font-size: 1.2em;
}

.testimony__container--profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 15px;
    gap: 20px;
}

.testimony__img {
    border-radius: 50%;
    max-width: 50px;

}

.testimony__buyer {
    white-space: nowrap;
    color: var(--TESTIMONYBUYERCOLOR);
    line-height: 1.5em;
    font-weight: lighter;
}

.testimony__text {
    margin-block: 15px;
    line-height: 1.5em;
}

@media (min-width: 70em) {

    .main__container {
        min-width: 60em;
        max-width: 70em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header__title {
        font-size: 3.5em;
        
    }

    .header__container {
        max-width: 30em;
        text-align: left;
    }

    .reviews__container--main {
        max-width: 30em;
        position: relative;
    }

    .reviews__container--sub {
        flex-direction: row;
        justify-content: start;
        padding-block: 15px;
        padding-inline: 30px;
    }

    .rate--1, .rate--2, .rate--3 {
        position: absolute;
        min-width: 23em;
    }

    .rate--1 {
        left: 10px;
        top: 40px;
    }

    .rate--2 {
        left: 60px;
        top: 105px;
    }

    .rate--3 {
        left: 110px;
        top: 170px;
    }

    .testimonies__container--main {
        flex-direction: row;
        grid-column: 1 / span 2;
        font-size: .9em;
    }

    .testimony__container--profile {
        padding-right: 20px;
    }

    

}